<div class="whitelist-url-form">
  <h2>Edit whitelisted url</h2>

  <%= render "form.html", changeset: @changeset,
                          action: whitelisted_url_path(@conn, :update, @whitelisted_url),
                          back: config_path(@conn, :index) %>
</div>
