<div class="whitelist-url-form">
  <h3>New whitelisted url</h3>

  <hr/>

  <%= render "form.html", changeset: @changeset,
                          action: whitelisted_url_path(@conn, :create),
                          back: config_path(@conn, :index) %>
</div>
